body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.event-container {
    padding: 10px;
}

.headline {
    border-bottom: 1px solid #5b80b2;
    color: #5b80b2;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

.event-body {
    min-height: 15px;
}

.event-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

.event-container:hover {
    background: #efefef;
}

.artist {

}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.genres {
    display: flex;
    color: black;
}

.genre {
    margin-left: 5px;
}

.venue {
    margin-top: 0;
    font-size: 0.8em;
}

.viewport {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

[v-cloak] > * { display:none; }
[v-cloak]::before {
  content: " ";
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  left: 50%;
  top: 50%;
}